/* ===================================================================
  アラートコンポーネント
   =================================================================== */

.c-alert {
  width: 100%;
  line-height: 2;
  color: white;

  &--error {
    background-color: #f44336;
  }

  &--success {
    background-color: #4caf50;
  }
}
