/* ===================================================================
  ボタンコンポーネント
   =================================================================== */

%c-button {
  width: 160px;
  height: 36px;
  font-size: 1.1rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.015em;
}

.c-button--default {
  @extend %c-button;

  background-color: #000;
  border: 1px solid #000;
  transition: all 0.4s;

  a {
    display: block;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;

    @include mq(pc) {
      &:hover {
        color: #000;
        transition: all 0.4s;
      }
    }
  }

  @include mq(pc) {
    &:hover {
      color: $color-button-text-hover;
      background-color: #fff;
      transition: all 0.4s;
    }
  }
}
