/* ===================================================================
  ボタンコンポーネント
   =================================================================== */

%c-button {
  width: 160px;
  height: 36px;
  font-size: 1.1rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.015em;
}

.c-button--default {
  @extend %c-button;

  background-color: #000;
  transition: all 0.4s;

  a {
    display: block;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }

  @include mq(pc) {
    &:hover {
      font-weight: 700;
      color: $color-button-text-hover;
      background-color: #fff;
      transition: all 0.4s;
    }
  }
}

.c-button--back {
  @extend %c-button;

  color: $color-button-text-hover;
  background-color: #fff;

  @include mq(pc) {
    &:hover {
      font-weight: 700;
      color: $color-button-text-hover;
      background-color: #fff;
    }
  }
}

.c-button--top {
  @extend .c-button--default;

  a {
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    border-radius: 51px;

    @include mq(pc) {
      &:hover {
        color: $color-button-text-hover;
      }
    }
  }
}
