/* ===================================================================
  テキストコンポーネント
   =================================================================== */

.c-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
  color: $color-text;
  letter-spacing: 0;

  @include mq(tab) {
    font-size: 1.6rem;
  }

  &--sub {
    margin-bottom: 28px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2;
    color: $color-text;
  }

  &__section-title {
    margin-bottom: 30px;
    font-size: 2.8rem;
    font-weight: 800;
    color: $color-text-section-title;
    letter-spacing: 0.063em;

    @include mq(tab) {
      font-size: 3.2rem;
      letter-spacing: 0.068em;
    }
  }

  &__section-sub-title {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-text-section-sub-title;
    letter-spacing: 0;

    @include mq(pc) {
      margin-bottom: 30px;
      font-size: 2.4rem;
    }
  }
}
