/* ================================================================
  aboutコンテンツ
   ================================================================ */

.p-about {
  @include mq(pc) {
    position: relative;
    z-index: 10;
  }
  &__inner {
    max-width: 100vw;
    padding: 50px 0;
    background: url(../img/about-img@2x.jpg) center / cover;

    @include mq(tab) {
      padding: 60px 0;
    }

    @include mq(pc) {
      max-width: $max-width-inner-pc;
      padding: 110px 0 110px 50px;
      margin: 0 auto;
    }
  }

  &__container {
    max-width: $max-width-inner-sp;
    padding: 50px 30px;
    margin: 0 auto;
    background: #fff;

    @include mq(tab) {
      max-width: 590px;
      padding: 40px 30px;
      margin: 0 auto;
    }

    @include mq(pc) {
      max-width: 590px;
      padding: 50px 30px;
      margin: 0;
    }
  }

  &__text {
    margin-bottom: 77px;

    @include mq(tab) {
      margin-bottom: 48px;
    }

    @include mq(pc) {
      margin-bottom: 27px;
    }
  }
}
