/* ================================================================
  About
   ================================================================ */

.p-about {
  height: 541px;
  padding: 50px 0;
  background-image: url(../img/about-img@2x.jpg);
  background-position: center;
  background-size: cover;

  @include mq(tab) {
    padding: 60px 0;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    height: 441px;
    padding: 50px 30px;
    margin: 0 auto;
    background-color: #fff;

    @include mq(tab) {
      max-width: calc((590 / 768) * 100%);
    }
  }

  &__text {
    margin-bottom: 70px;
  }
}
