/* ================================================================
  contactコンテンツ
   ================================================================ */

.p-contact {
  padding: 40px 0;
  background: $color-contact-bg;

  @include mq(tab) {
    padding: 40px 0 80px;
  }

  @include mq(pc) {
    padding: 60px 0 90px;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(tab) {
      max-width: $max-width-inner-tab;
    }

    @include mq(pc) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      max-width: $max-width-inner-pc;
    }
  }

  &__container {
    @include mq(tab) {
      max-width: 520px;
    }

    @include mq(pc) {
      max-width: 440px;
      padding: 72px 0;
    }
  }

  &__img {
    margin-bottom: 26px;

    @include mq(tab) {
      max-width: 520px;
    }

    @include mq(pc) {
      max-width: 580px;
    }
  }

  &__text {
    margin-bottom: 56px;
    font-size: 1.6rem;

    @include mq(tab) {
      margin-bottom: 35px;
    }

    @include mq(pc) {
      margin-bottom: 18px;
    }
  }
}
