/* ================================================================
  Company
   ================================================================ */

.p-company {
  padding: 80px 0;

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(tab) {
      max-width: $max-width-inner-tab;
    }

    @include mq(pc) {
      max-width: $max-width-inner-pc;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: collapse;
  }

  &__table-row {
    width: 100%;
    height: 60px;
    border-top: 1px solid $color-company-table-border;

    &:last-child {
      border-bottom: 1px solid $color-company-table-border;
    }
  }

  &__table-header {
    width: 50%;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.004em;
  }

  &__table-data {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.004em;
  }

  iframe {
    width: 100%;
    height: 470px;
  }
}
