/* ================================================================
  Contact
   ================================================================ */

.p-contact {
  padding: 40px 0;
  background-color: $color-contact-bg;

  @include mq(tab) {
    padding: 40px 0 80px;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(tab) {
      max-width: $max-width-inner-tab;
    }
  }

  &__img {
    margin-bottom: 30px;

    @include mq(tab) {
      max-width: 520px;
    }
  }

  &__text {
    margin-bottom: 60px;

    @include mq(tab) {
      max-width: 520px;
    }
  }
}
