/* ================================================================
  Contactページ
   ================================================================ */

.p-contact-page {
  padding: 75px 0 80px;

  @include mq(tab) {
    padding: 134px 0 197px;
  }

  @include mq(pc) {
    padding: 122px 0;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(tab) {
      max-width: 668px;
    }

    @include mq(pc) {
      max-width: 700px;
    }
  }

  &__text {
    margin-bottom: 64px;

    @include mq(pc) {
      margin-bottom: 53px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__section-title {
    text-align: center;
  }

  &__error-list {
    padding: 10px 30px;
    margin-bottom: 30px;
    font-size: 1.9rem;
    color: #ff2e5a;
    text-align: left;
    border: 1px solid #ff2e5a;
    border-radius: 5px;
  }

  &__radio-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @include mq(tab) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 27px;
    }

    @include mq(pc) {
      margin-bottom: 35px;
    }
  }

  &__radio-button {
    display: block;
    width: 100px;
    margin: 0 0 10px 10px;
    vertical-align: bottom;

    @include mq(tab) {
      width: auto;
      margin-right: 50px;
    }

    input {
      margin-right: 6px;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.004em;
  }

  &__label-required {
    &::after {
      display: inline-block;
      width: 34px;
      height: 18px;
      margin-left: 10px;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      text-align: center;
      content: "必須";
      background: #333;
    }
  }

  &__purpose {
    margin-bottom: 30px;
  }

  &__textbox {
    width: 100%;
    height: 48px;
    margin-bottom: 37px;
    line-height: 1.8;
    border: solid 1px $color-form-border;

    @include mq(pc) {
      height: 41px;
      margin-bottom: 40px;
    }
  }

  &__textarea {
    margin-bottom: 35px;

    textarea {
      width: 100%;
      height: 210px;
      overflow: auto;
      line-height: 1.5;
      resize: none;
      border: solid 1px $color-form-border;

      @include mq(tab) {
        height: 180px;
      }

      @include mq(pc) {
        height: 212px;
      }
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__privacy-policy-container {
    width: 100%;
    height: 226px;
    padding: 5px 9px;
    margin-bottom: 37px;
    overflow: auto;
    border: solid 1px $color-form-border;

    @include mq(pc) {
      height: 252px;
    }
  }

  &__privacy-policy-title {
    margin-bottom: 11px;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.004em;
  }

  &__privacy-policy-section-title {
    font-weight: 700;
    letter-spacing: 0.004em;
  }

  &__privacy-policy-text {
    margin-bottom: 3px;
    font-weight: 500;
    line-height: calc(24 / 14);
    letter-spacing: 0.004em;
  }

  &__agree {
    margin: 0 auto 56px;
    text-align: center;

    input {
      margin-right: 12px;
    }

    @include mq(tab) {
      margin-bottom: 30px;
    }

    @include mq(pc) {
      margin-bottom: 34px;
    }
  }

  &__agree-text--comfirmation {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__text--confirmation {
    margin-bottom: 60px;
    font-size: 1.9rem;
    text-align: center;
  }

  &__textbox--confirmation {
    width: 100%;
    height: 48px;
    padding-left: 5px;
    margin-bottom: 37px;
    line-height: 48px;
    background: $color-form-bg;
    border: solid 1px $color-form-border;
  }

  &__textarea--confirmation {
    width: 100%;
    min-height: 210px;
    padding: 5px;
    margin-bottom: 35px;
    overflow: auto;
    line-height: 1.5;
    background: $color-form-bg;
    border: solid 1px $color-form-border;
  }

  &__button-container {
    display: flex;
  }
}
