/* ================================================================
  Topics
   ================================================================ */

.p-topics {
  padding: 42px 0 40px;

  @include mq(tab) {
    padding: 40px 0 40px;
  }

  @include mq(pc) {
    padding: 60px 0;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(tab) {
      max-width: $max-width-inner-tab;
    }

    @include mq(pc) {
      max-width: $max-width-inner-pc;
    }
  }

  &__section-title {
    margin-bottom: 30px;
  }

  &__container {
    margin-bottom: 30px;

    @include mq(pc) {
      width: 700px;
      margin-left: auto;
    }
  }

  &__content {
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;

    @include mq(tab) {
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
    }
  }

  &__content-time {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: $color-text-time;
    letter-spacing: 0.015em;

    @include mq(tab) {
      margin-bottom: 10px;
    }
  }

  &__content-text {
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-text;
    letter-spacing: 0.068em;

    @include mq(tab) {
      padding-bottom: 7px;
    }
  }

  &__button {
    @include mq(pc) {
      margin-left: auto;
    }
  }
}
