/* ================================================================
  Works & Culture
   ================================================================ */

.p-works-culture {
  padding: 40px 0;
  background-color: $color-works-culture-bg;

  @include mq(tab) {
    padding: 60px 0;
  }

  @include mq(pc) {
    padding: 160px 0;
    margin-top: -100px;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(tab) {
      max-width: $max-width-inner-tab;
    }

    @include mq(pc) {
      display: flex;
      justify-content: space-between;
      max-width: $max-width-inner-pc;
    }
  }

  &__section-title {
    margin-bottom: 30px;
  }

  &__img {
    margin: 0 auto 27px;
  }

  &__text {
    margin-bottom: 28px;
    font-size: 1.6rem;
  }
}

.p-works {
  margin-bottom: 40px;

  @include mq(tab) {
    max-width: 520px;
    margin-bottom: 80px;
  }

  @include mq(pc) {
    margin-bottom: 0;
  }
}

.p-culture {
  @include mq(tab) {
    max-width: 520px;
  }
}
